<div>{{message}}</div>
<div>
  <button {{action "reset"}}>Reset Sim</button>
  <button {{action "generateRingTopology"}}>Generate Ring Topology</button>
  <button {{action "generateMessages"}}>Generate Messages</button>
</div>
<div class="panel">
  <h3>Connections</h3>
  <table>
    <tbody>
      <tr>
        <td>{{input value=pendingFrom}}</td>
        <td>{{input value=pendingTo}}</td>
        <td><button {{action "addConnection"}}>Add</button></td>
      </tr>
      {{#each conn in controller}}
        <tr>
          <td>{{conn.from}}</td>
          <td>{{conn.to}}</td>
          <td><button {{action "removeConnection" conn}}>X</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div class="users panel">
  <h3>Users</h3>
  <ul>
    {{#each user in users}}
      <li>{{user.id}}</li>
    {{/each}}
  </ul>
</div>
<div class="messages panel">
  <h3>Messages</h3>
  <ul>
    {{#each msg in messages}}
      <li>{{msg.from}} → {{msg.to}}</li>
    {{/each}}
  </ul>
</div>

