<h2>Hello, <i>{{me}}</i></h2>
<p>You can <a href="javascript:null;" {{action "openComposer"}}>send</a> and receive messages from:</p>
<ul class="connections">
  {{#each conn in connections}}
    <li>{{conn}}</li>
  {{/each}}
</ul>

<div {{bind-attr class=":composer composerIsOpen::hidden"}}>
  <h3>Send a message</h3>
  <form>
    <p>To: <br>{{view "select" content=connections value=pendingTo}}</p>
    <p>Message: <br>{{textarea value=pendingText cols=80 rows=5}}</p>
    <p>
      <button {{bind-attr disabled=cantSend}} {{action "send"}}>Send</button>
      <button {{bind-attr disabled=composerIsSending}} {{action "cancelComposer"}}>Cancel</button>
    </p>
  </form>
</div>
<div {{bind-attr class=":composer-success composerSendSuccess::hidden"}}>
  <b>Your message was successfully sent!</b>
  <a href="javascript:null;" {{action "openComposer"}}>Send another message</a>
</div>

<div class="messages">
  <h3>You have {{controller.length}} messages:</h3>

  <ul>
    {{#each msg in controller}}
      <li>
        Message #<span class="message-number">{{msg.id}}</span>,
        From: <span class="message-from">{{msg.from}}</span>
        <br>
        <span class="message-body">{{msg.body}}</span>
      </li>
    {{/each}}
  </ul>
</div>

<div class="sent messages">
  <h3>{{#if sentMessages.length}}{{else}}No {{/if}}Sent Messages:</h3>

  <ul>
    {{#each msg in sentMessages}}
      <li>
        Message #<span class="message-number">{{msg.id}}</span>,
        To: <span class="message-from">{{msg.to}}</span>
        <br>
        <span class="message-body">{{msg.body}}</span>
      </li>
    {{/each}}
  </ul>
</div>
